$orange: rgb(249, 175, 57)
$brown: rgb(99, 65, 48)
$blue: rgba(76, 206, 224,.7)
$red: #e24724

$breakpoints: ("phone":400px,"phone-wide":480px,"phablet":560px,"tablet-small": 640px,"tablet":768px,"tablet-wide":1024px,"desktop":1248px,"desktop-wide": 1440px)

@mixin mq($width, $type: min)
  @if map_has_key($breakpoints, $width)
    $width: map_get($breakpoints, $width)
    @if $type == max
      $width: $width - 1px
    @media only screen and (#{$type}-width: $width)
      @content

*
  // border: solid 1px
  box-sizing: border-box
  position: relative
  font-family: Ubuntu, 微軟正黑體
  text-decoration: none
  color: $brown
  transition: all .4s

html, body
  margin: 0
  min-height: 100vh
  overflow-x: hidden

body
  padding: 3em 0 2em 0
  // background-color: #e1eff2
  background-image: url(https://s26.postimg.org/4v95smc95/fog-1535201_1920.jpg)
  background-size: cover
  background-repeat: no-repeat
  &::-webkit-scrollbar-track
    border: 1px solid $blue
    background-color: rgba(255,255,255,0.2)
  &::-webkit-scrollbar
    width: 6px
    background-color: rgba(255,255,255,0.2)
  &::-webkit-scrollbar-thumb
    background-color: $blue
  
p
  margin: 0
  text-align: center
      
%btn
  background-color: $orange
  padding: .1em .5em
  color: white
  border-radius: 5px
  margin: 0.1em

@import "./loadingAnimation"
@import "./searchPage"
@import "./shelfPage"
@import "./bookInfo"
@import "./nav"
@import "./menu"
@import "./signUp"

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.swal2-buttonswrapper
  button
    border: 0px
    margin: 0 1em
    padding: 0.5em 1.2em
    background-color: $orange
    border-radius: .2em
    color: white
    &:hover
      background-color: $red

+mq('desktop',min)
  .bookInfo
    padding: 1.5em 8em
  .bookInfo .bookInfo_top .bookinfo_book
    // height: 30vh
  .bookInfo .bookInfo_top .bookinfo_book .bookInfo_cover
    height: 70%
  .searchedBooks
    min-width: 60em
    width: 60em
    margin: 0 auto
    .book
      width: 20%
      height: 19em
  .shelfPage
    padding: 0 7em
    min-height: 40em
    min-width: 45em
    .shelves
      & .book
        width: 20%
        padding: 0 .5em
    .options
      width: 65vw
      margin: 0 auto
  .slick-slider .slick-list .slick-track .slick-slide .book
    width: 50%
    min-width: 10em
  .signUp
    & .sign
      & h2
        min-width: 14em
      & label
        width: 40%
      & input[type="email"], input[type="password"]
        width: 60%
  .searchBar
    width: 40em
    & input[type="text"]
      width: 70%
      margin-right: 2em


+mq('phone-wide',max)
  body,html
    min-height: calc(100vw * 1.7)
    min-width: 100vw
    height: 100vh
  #container
    & .searchBar
      width: 90%
      & input[type="text"]
        width: 60%
    & .slick-slide
      & .book
        width: 60%
        min-width: 8em
        & .settings div p
          font-size: 1em
    & .searchedBooks
      & .book
        min-width: 8.5em
        width: 43%
        height: 37vh
        & p
          font-size: .7em
    & .bookInfo
      & .bookInfo_top
        display: block
        & .bookinfo_detail, .bookInfo_cover
          width: 100%
        & .bookinfo_book
          width: 35vw
          height: calc(35vw * 1.8)
          margin: 0 auto
          & .bookInfo_cover
            min-width: 40vw
            height: 85%
    & .status
      left: 50%
      transform: translateX(-50%)
      width: 110%